body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container {
    background: white;
    width: 100vw;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2563eb;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

.add-event-btn {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: 1rem;
}




table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


button.attend-btn {
    background-color: #86efac;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button.attend-btn img {
    width: 16px;
    margin-right: 5px;
}
.table-container {
    max-height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    border: 1px solid #ddd;
    border-radius: 5px; 
}

/* Event Details */
.event-details, .attendance-list {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .event-table, .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .event-table th, .event-table td,
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .event-table th, .table thead tr {
    background: #2563eb;
    color: white;
  }
  
  .table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #2563eb;
  }
  
  /* Styling the radio buttons */
  .radio-green {
    accent-color: green;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .radio-red {
    accent-color: red;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .btn-att{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
  
  }
  
  .post-att{
    border-radius: 10px;
    background-color: #22c55e;
    color: white;
    height: 40px;
    font-size: medium;
    padding: 10px;
    border: none;
    cursor: pointer;
  
  }
  
  .back{
    border-radius: 10px;
    background-color: red;
    color: white;
    height: 40px;
    font-size: medium;
    border: none;
    cursor: pointer;
  }
  
  
  
  
  
